<div class="profile-container">

  <div class="profile-card">
    <div class="profile-header">

  <div class="avatar">

    {{ profile.fullName.charAt(0) }}

  </div>

  <h2>My Profile</h2>

</div>

    <div class="form-group">

      <label>

        Full Name

      </label>

      <input
        type="text"
        [(ngModel)]="profile.fullName">

    </div>

    <div class="form-group">

      <label>

        Email

      </label>

      <input
        type="email"
        [(ngModel)]="profile.email">

    </div>

    <div class="form-group">

      <label>

        Phone Number

      </label>

      <input
        type="text"
        [(ngModel)]="profile.phone">

    </div>

   <div class="checkbox-card">

  <input
    type="checkbox"
    [(ngModel)]="profile.notifications">

  <div class="checkbox-content">

    <h4>Receive Notifications</h4>

    <p>
      Get updates about bookings and events
    </p>

  </div>

</div>

<div class="checkbox-card">

  <input
    type="checkbox"
    [(ngModel)]="profile.smsAlerts">

  <div class="checkbox-content">

    <h4>Receive SMS Alerts</h4>

    <p>
      Receive important updates via SMS
    </p>

  </div>

</div>

    <div class="button-container">

  <button
    class="save-btn"
    (click)="saveProfile()">

    Save Profile

  </button>

</div>

</div>