.filter-container{
    display:flex;
    gap:10px;
    margin-bottom:20px;
  }
  
  input,
  select{
    padding:10px;
    min-width:200px;
  }
  
  button{
    padding:10px 20px;
    cursor:pointer;
  }