<div class="event-card">

  <div class="card-header">

    <h3>{{ event.title }}</h3>

    <span class="status-badge">
      {{ event.status }}
    </span>

  </div>

  <p class="category">
    {{ event.category }}
  </p>

  <div class="info">

    <p>📍 {{ event.venue.city }}</p>

    <p>🏢 {{ event.venue.name }}</p>

    <p>📅 {{ event.schedule.startDate }}</p>

  </div>

  <div class="seat-section">

    <span class="seat-badge">
      🪑 {{ event.availableSeats }} Seats Left
    </span>

  </div>

  <div class="actions">

    <button
      class="details-btn"
      (click)="viewDetails(event.id)">

      View Details

    </button>

    <button
  class="book-btn"
  (click)="bookTicket(event.id)">

  Book Now

</button>

  </div>

</div>