<div class="booking-container">

  <h2>Booking History</h2>

  <div class="booking-grid">

    <div
      class="booking-card"
      *ngFor="let booking of bookings">

      <div class="booking-header">

        <h3>
          {{ booking.eventName }}
        </h3>

        <span
          class="status"
          [class.cancelled]="booking.status === 'Cancelled'">

          {{ booking.status | bookingStatus }}

        </span>

      </div>

      <div class="booking-details">

        <p>

          <strong>Booking ID</strong>

          {{ booking.id }}

        </p>

        <p>

          <strong>Tickets</strong>

          {{ booking.quantity }}

        </p>

        <p>

          <strong>Amount</strong>

          ₹{{ booking.totalAmount }}

        </p>

      </div>

      @if(booking.status === 'Confirmed' && booking.eventName !== 'Deleted Event')  {

        <button
          class="cancel-btn"
          (click)="cancelBooking(booking)">

          Cancel Booking

        </button>

      }

    </div>

  </div>

</div>