<h2>Booking History</h2>

<table>

    <thead>
        <tr>
            <th>ID</th>
            <th>Event</th>
            <th>Tickets</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>

        <tr *ngFor="let booking of bookings">

            <td>{{ booking.id }}</td>
            <td>{{ booking.eventName }}</td>
            <td>{{ booking.quantity }}</td>
            <td>₹{{ booking.totalAmount }}</td>
            <td>{{ booking.status }}</td>
            <td>

  @if(booking.status === 'Confirmed') {

    <button
      class="cancel-btn"
      (click)="cancelBooking(booking)">

      Cancel

    </button>

  }

</td>

        </tr>

    </tbody>

</table>