<nav class="navbar">

  <div class="logo-section">

   

    <div class="logo">
       
  <div class="footer-brand">

   

    <div>

      <div class="footer-brand-name">

        Event<span>Hub</span>

      </div>

      <div class="footer-subtitle">

        Book • Explore • Enjoy

      </div>

    </div>

  </div>
     
    </div>

  </div>

  <ul class="nav-links">

    <li>
      <a
        routerLink="/events"
        routerLinkActive="active-link">
        Events
      </a>
    </li>

    <li>
      <a
        routerLink="/profile"
        routerLinkActive="active-link">
        Profile
      </a>
    </li>

    <li>
      <a
        routerLink="/booking-history"
        routerLinkActive="active-link">
        Bookings
      </a>
    </li>

    @if(isAdmin) {

      <li>
        <a
          routerLink="/admin-dashboard"
          routerLinkActive="active-link">
          Dashboard
        </a>
      </li>

      <li>
        <a
          routerLink="/manage-bookings"
          routerLinkActive="active-link">
          Manage Bookings
        </a>
      </li>

      <li>
        <a
          routerLink="/manage-events"
          routerLinkActive="active-link">
          Manage Events
        </a>
      </li>

      <li>
        <span class="role-badge">
          Admin
        </span>
      </li>
    }

    <li>
      <button
        class="logout-btn"
        (click)="logout()">
        Logout
      </button>
    </li>

  </ul>

</nav>