.navbar{

  display:flex;

  justify-content:space-between;

  align-items:center;

  padding:18px 40px;

  background:#111827;

  border-bottom:
    2px solid #D4AF37;

}

.navbar h2{

  color:#FFFFFF;

  font-weight:600;

}

ul{

  display:flex;

  gap:24px;

  list-style:none;

  align-items:center;

}

a{

  color:#F9FAFB;

  text-decoration:none;

  font-weight:500;

}

a:hover{

  color:#D4AF37;

}

.logout-btn{

  background:#D4AF37;

  color:#111827;

  padding:10px 18px;

  font-weight:600;

}

.logout-btn:hover{

  background:#c19a2d;

}